<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zijie.zeng.homework.study.dao.TestDao">
    <!--查询操作-->
    <select id="queryTest"
            resultType="zijie.zeng.homework.study.model.TestModel">
        SELECT
            period_name as periodName
        FROM
            homework_period
    </select>

</mapper>